@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #5E548E;  /* Ultra Violet */
  --secondary-color: #231942; /* Russian Violet */
  --accent-color: #E0B1CB;  /* Teal */
  --background-light: #F5F3FF; /* Light Lilac */
  --text-color: #FFFFFF; /* White */
  --error-color: #FF8FAB; /* Soft Pink */
  --warning-color: #FFC75F; /* Gold */
  --success-color: #28C76F; /* Emerald Green */
  --button-color: #D4A5FF; /* Light Purple */
  --button-hover: #C084FC; /* Deep Purple for Hover */
  --tertiary-color: #9f86c0;
  --footer-background: #161029; /* Dark Purple */
  --footer-text: #E0B1CB; /* Soft Pink */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
